.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
genmedai/public/frontend/assets/index-BGjkqL6K.js
genmedai/www/frontend.html
genmedai/public/frontend/assets/index-DRghsOS1.js
genmedai/public/frontend/assets/index-BaC-qW2d.css
genmedai/public/frontend/assets/index-COEgGQqd.css
genmedai/www/frontend.html
genmedai/www/frontend.html
genmedai/public/frontend/index.html
genmedai/public/frontend/assets/index-BwRgGnl0.js
genmedai/www/frontend.html
genmedai/www/frontend.html
genmedai/public/frontend/index.html
genmedai/public/frontend/index.html
genmedai/public/frontend/index.html
